.r-form {
    border: solid black 2px;
    max-width: 400px;
    margin: auto;
    background-color: rgb(226, 232, 235);
    display: flex;
    flex-flow: column;
    padding: 30px;
}

h1, p {
    text-align: center;
}

.container {
    position: relative;
    padding: 20px;
}

h1 {
    width: 150px;
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    top: -30px;
    left: 115px;
    padding: 0 10px;
    background-color: rgb(226, 232, 235);
}

.F-L-name {
    display: flex;
    justify-content: space-between;
}

label {
    display: flex;
    flex-flow: column;
}

label, input, button {
    padding: 10px 0 10px;
}

button {
    border-radius: 6px;
    width: 100%;
    font-weight: bolder;
    background-color: #4ea64f;
    color: #ffffff;
    font-size: 1.1rem;
    margin: 10px 0;
}
